.alphabet-card{
    width: 20vw;
    height: 30vh;
    margin-bottom: 2rem;
    background-color: #1B1C1D;
    color: #F0F1F1;
}

.distro-names{
  color: #F0F1F1;
}

.alphabet-card-body{
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #97015B; 
    border-radius: 10px;
  }
  
