.form-control{
    width: 12vw;
}

.search-btn{
    margin-top: 0;
    margin-left: 2rem;
}
@media only screen and (max-width: 500px) {
    
    .form-control{
        width: 60vw;
    }

    .form{
        padding: 3rem;
    }

    .search-btn{
        margin-top: 2rem;
        margin-right: 0;
    }
    a{
        font-size: small;
    }

}