.bottom-bar{
    background-color: rgba(0, 0, 0, 0.404);
    height: 5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.445);
    bottom: 0 !important;
    position: relative;
  }


  @media only screen and (max-width: 500px) {
    .logo {
       height: 1rem;
    }
}