@import '../../variables';

.btn{
    background-color: $button-purple;
    border-color: $button-purple;
}

.btn:hover{
    background-color: #730FC3;
}

.logo{ 
    height: 2rem;
  }

.carousel{
    height: 15vh;
}
