@import '../../variables';

.btn{
    background-color: $button-purple;
    border-color: $button-purple;
    margin-top: 0.8rem;
    font-weight: bold;
}

.btn:hover{
    background-color: #730FC3;
}

.logo{ 
    height: 2rem;
    margin-top: 0.8rem;
  }

.carousel{
    height: 15vh;
}

.navbar{
    position: sticky;
    width: 100vw !important;
    top: 0px;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.39);
}

.navbar.colorChange{
    background-color: #000;
}

.hero{
    background-image: url(../../assets/bg.png);
}

.header {
    font-weight: bold;
    font-size: 64px;
}

.subheader {
    color: #fafafacc;
    font-size: 20px;
}

.paragraph {
    color:#fafafab0;
    font-size: 16px;
}

.reset{
    color: white;
}