@import './variables';

body,html{
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: $font;
  overflow-x: hidden;
  background-image: url(assets/bg2.jpg);
  color: #fafafa;
  text-align: center;
  scroll-behavior: smooth;
}

.text-white{
  color: white;
}